/* BUTTONS */

.button {
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  background: #000000e8;
  color: #F9F9F9;
  text-align: center;
  text-transform: uppercase;
  padding: 1.6rem 3.2rem;
  min-width: 20rem;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #000000;
}

.edit-button {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

/* ICONS */

.button-icon {
  width: 1.6rem;
  margin-left: 2.4rem
}