/* TABLE */

.products-list {
  margin: 5rem 1rem ;
  font-size: 1.8rem;
  overflow-x: auto;
  width: 100%;
}

.products-row {
  border: 2px solid #F9F9F9;
  padding: 0.8rem;
}

.products-attribute,
.products-item {
  padding: 1.6rem;
  background-color: #000000;
  color: #F9F9F9; 
  text-align: center;
}

.products-attribute button {
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  background-color: transparent;
  color: #F9F9F9;
  cursor: pointer;  
  outline: none;
}

.products-item {
  background-color: #F9F9F9;
  color: #000000; 
}

.products-table {
  min-width: 835px;
  margin: 0 auto;
}

.edit-icon {
  width: 4rem;
  margin-right: 1rem;
}

/* MEDIA QUERIES */

@media (min-width: 900px) {
  .product-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 414px) {
  .product-list {
    overflow-x: auto;
  }

}