/* MENU */

.menu-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
}

.menu-list {
  margin: 0;
  font-size: 1.4rem;
}

.menu-item {
  padding: 0.8rem 3.2rem;
  margin-right: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
  border: 2px solid #000000;
}

.menu-item:hover {
  background-color: #000000;
  color: #F9F9F9;
}